body {
    text-align: center;
    background-color: lightgreen;
}

h1 {
    text-shadow: 2px 2px #F8BBD1 font-size:20px;
    font-family: 'Montserrat', sans-serif;
}


img {
    height: 350px;
    width: 350px;
}

p {
    font-size: 20px;
    padding: 20px;
}

.menu {
    list-style: none;
    position: fixed;
    top: 10px;
    right: 30px;
    cursor: pointer;
    z-index: 10;
}

.links {
    float: left;
    color: black;
    padding-top: 5px;
    padding-left: 9px;
    padding-right: 9px;
    padding-bottom: 5px;
    font-family: inherit;
    font-size: 20px;
}
html{
    scroll-behavior: smooth;
}
h3{
  font-size:40px;
    line-height: 1.2;
    font-family: inherit;
    font-weight: 300;
    color: black       
}

img{
    transition: transform .2s;
    border: 10px solid #AAAAAA
}
img:hover{
    transform: scale(1.1)
}

ul li:hover {
    background-color: black;
    color: whitesmoke;
    transition: 0.6s ease;
}